@page 
@model Examen_Medii_de_programare.Pages.Toys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].Magazin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].DataAparitiei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].Producator.NumeProducator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].ToyCategories)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToyD.Toys) {

    string selectedRow = "";
    if (item.ID == Model.ToyID)
    {
        selectedRow = "table-success";
    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magazin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAparitiei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producator.NumeProducator)
            </td>
            <td>
                @{ 
                    foreach(var category in item.ToyCategories)
                {
                    @category.Category.ID @: @category.Category.CategoryName <br/>
                }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
